.card-container {
    background-color: black;
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 300px; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-description {
    padding: 10px;
  }
  