body, html, #root {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white; /* Set the default text color to white */
  }
  
  * {
    box-sizing: border-box;
  }
  